<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duiya.dao.SearchDao">
	<select id="searchFlower" parameterType="com.duiya.dto.FlowerSearchDto" resultType="map">
		select
		flower_id as flowerId,
		flower_name as flowerName,
		flower_price as flowerPrice,
		flower_discountprice as flowerDiscountPrice,
		flower_count as flowerCount,
		flower_picture as flowerPicture,
		flower_describe as flowerDescribe,
		flower_classify as flowerClassify,
		flower_state as flowerState
		from t_flower
		<where>
			<if test="message != null">
				or flower_name like concat(concat("%",#{message}),"%")
				or flower_describe like concat(concat("%",#{message}),"%")
				or flower_classify like concat(concat("%",#{message}),"%")
				or flower_use like concat(concat("%",#{message}),"%")
			</if>
			<if test="flowerClassify != null">
				or flower_classify=#{flowerClassify}
			</if>
			<if test="flowerUse != null">
				or flower_use like concat(concat("%",#{flowerUse}),"%")
			</if>
		</where>
		<if test="price != null and sale == null">
			order by flower_price ${price}
		</if>
		<if test="price == null and sale != null">
			order by flower_sales ${sale}
		</if>
		limit #{start},#{count}
	</select>
	
	<select id="getFlowerCount" parameterType="com.duiya.dto.FlowerSearchDto" resultType="int">
		select count(*) as allCount from t_flower
		<where>
			<if test="message != null">
				or flower_name like concat(concat("%",#{message}),"%")
				or flower_describe like concat(concat("%",#{message}),"%")
				or flower_classify like concat(concat("%",#{message}),"%")
				or flower_use like concat(concat("%",#{message}),"%")
			</if>
			<if test="flowerClassify != null">
				or flower_classify=#{flowerClassify}
			</if>
			<if test="flowerUse != null">
				or flower_use like concat(concat("%",#{flowerUse}),"%")
			</if>
		</where>
	</select>
	
	<select id="searchFlowerById" parameterType="int" resultType="map">
		select
		flower_id as flowerId,
		flower_picture as flowerPicture,
		flower_name as flowerName,
		flower_price as flowerPrice,
		flower_discountprice as flowerDiscountPrice,
		flower_addtime as flowerAddtime,
		flower_count as flowerCount,
		flower_norms as flowerNorms,
		flower_state as flowerState,
		flower_use as flowerUse,
		flower_describe as flowerDescribe
		from t_flower where flower_id=#{0}
	</select>
	
	

	<select id="getMHot" resultType="map">
		select
		flower_id as flowerId,
		flower_picture as flowerPicture,
		flower_name as flowerName,
		flower_price as flowerPrice,
		flower_discountprice as flowerDiscountPrice
		from t_flower where flower_state=1
		order by flower_sales desc
		limit 0,5
	</select>
		
	<select id="getMNew" resultType="map">
		select
		flower_id as flowerId,
		flower_picture as flowerPicture,
		flower_name as flowerName,
		flower_price as flowerPrice,
		flower_discountprice as flowerDiscountPrice
		from t_flower where flower_state=1
		order by flower_addtime desc
		limit 0,10
	</select>
	
	<select id="getDiscount" resultType="map">
		select
		flower_id as flowerId,
		flower_picture as flowerPicture,
		flower_name as flowerName,
		flower_price as flowerPrice,
		flower_discountprice as flowerDiscountPrice
		from t_flower
		where flower_state=1 and flower_discountprice is not null
		limit 0,10
	</select>
	
	<select id="getOftenbuyCount" parameterType="int" resultType="int">
		select count(*) as allCount from t_oftenbuy where user_id=#{0}
	</select>
	
	<select id="getOftenbuy" parameterType="com.duiya.dto.FlowerSearchDto" resultType="map">
		select
		t_flower.flower_id as flowerId,
		t_flower.flower_name as flowerName,
		t_flower.flower_price as flowerPrice,
		t_flower.flower_discountprice as flowerDiscountPrice,
		t_flower.flower_count as flowerCount,
		t_flower.flower_picture as flowerPicture,
		t_flower.flower_describe as flowerDescribe,
		t_flower.flower_classify as flowerClassify,
		t_flower.flower_state as flowerState
		from t_oftenbuy,t_flower where t_flower.flower_id = t_oftenbuy.flower_id and user_id=#{userId}
		limit #{start},#{count}
	</select>
</mapper>