<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duiya.dao.UserDao">
	<select id="login" parameterType="String" resultType="com.duiya.model.User">
		SELECT
		user_id as userId,user_name as username,user_picture as userpic,user_grade as usergrade
		from t_user where
		user_name=#{0} AND user_password=#{1};
	</select>
	<insert id="regist" parameterType="com.duiya.dto.UserRegistDto">
		insert into t_user(user_id,user_name,user_password,user_phone,user_grade,user_picture)
		values(#{userId},#{username},#{password},#{phone},0,#{picture})
	</insert>
</mapper>