<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duiya.dao.UserDao">
	<select id="login" parameterType="String" resultType="com.duiya.model.User">
		SELECT
		user_id as userId,user_phone as userphone,user_name as username,user_picture as userPicture,user_grade as usergrade
		from t_user where
		user_phone=#{0} AND user_password=#{1};
	</select>
	<insert id="regist" parameterType="com.duiya.dto.UserRegistDto">
		insert into t_user(user_phone,user_password,user_name,user_grade)
		values(#{userphone},#{password},#{username},0)
	</insert>
	
	<update id="changePwd" parameterType="String">
		update t_user set user_password=#{0} where user_phone=#{1}
	</update>
	
	
</mapper>